.more-info-container {
    width: 80%;
    border: 1.5px solid #676464;
    border-radius: 10px;
    margin: 3rem 10%;
}

.more-info-logo {
    height: 250px;
    width: 80%;
    margin-left: 10%;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.more-info-label {
    display: inline-block;
    width: 150px;
    text-align: left;
}

.info-div {
    width: 60%;
    margin-left: 20%;
    margin-bottom: 4rem;
}

.more-info-section {
    border-bottom: 1px solid #676464;
    width: calc(100% - 150px);
    padding: 0 10px;
}

.section-div {
    display: flex;
    margin-bottom: 15px;
}