#navbar-container {
    text-align: center;
}

.navbar-div {
    overflow-x: hidden;
}

.nav-item {
    color: #6C63FF !important;
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
}

.nav-item:hover {
    border-bottom: 2px solid #6C63FF !important;
}

.burger-icon {
    color: #6C63FF !important;
    border: 1px solid #6C63FF !important;
}